<% selected ||= :list %>

<div class="flex flex-col gap-2">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Agenda items</h1>
    <button class="btn btn-info" onclick="new_agenda_item_dialog.showModal()">New Agenda Item</button>
    <dialog id="new_agenda_item_dialog" class="modal">
      <div class="modal-box">
        <%= form_with url: agenda_items_path, method: :post, class: "flex flex-col gap-2" do |form| %>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Title</legend>
            <%= form.text_field :document_title, class: "input", placeholder: "Item title goes here" %>
          </fieldset>
          <%= form.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
  <div class="flex flex-row gap-4">
    <% links = [
      ["List view", list_agenda_items_path, :list],
      ["Kaban board", kaban_agenda_items_path, :kaban]
    ].each do |link_name, link_url, link_id| %>
      <%
        classes = [ "btn", "btn-accent" ]
        classes += [ "btn-disabled" ] if selected == link_id
      %>
      <%= link_to link_name, link_url, class: classes %>
    <% end %>
  </div>
</div>
