@import "tailwindcss";

@plugin "./daisyui.js" {
/* theme goes here */

  name: "icekitten";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(51% 0.262 276.966);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(58% 0.253 17.585);
  --color-accent-content: oklch(96% 0.015 12.422);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

}

.tiptap {
  @apply focus:outline-hidden;

  ul[data-type="taskList"] {
    @apply my-2;

    li {
      @apply flex flex-row gap-2
    }
  }
}
