<% content_for :title, "New agenda item" %>

<div class="md:w-2/3 w-full">
  <div class="breadcrumbs text-sm">
    <ul>
      <li><%= link_to "Agenda items", agenda_items_path %></li>
      <li>Creating new Agenda item</li>
    </ul>
  </div>

  <%= render "form", agenda_item: @agenda_item %>
</div>
