<div data-notifications-target="notification" class="bg-info text-info-content px-3 py-2 font-medium rounded-md mt-3">
  <h2><%= model.class.name.underscore.humanize %> with id #<%= model.id %> was created</h2>
</div>
