<%= form_with(model: document, class: "contents flex flex-col gap-4 ") do |form| %>
  <div class ="stats overflow-hidden">
    <div class="stat">
      <span class="stat-value"><%= form.text_field :title, disabled: true, placeholder: "The title of the document", data: { action: "input->document-editor#onInput" } %></span>
    </div>
  </div>
<% end %>
