<% content_for :title, "Editing document" %>

<div class="md:w-2/3 w-full">
    <div class="breadcrumbs text-sm">
        <ul>
            <li><%= link_to "Documents", documents_path %></li>
            <li><%= link_to "Document##{@document.id}", @document %></li>
            <li>Editing Document#<%= @document.id %></li>
        </ul>
    </div>
    <div class="divider"></div>

  <%= render "form", document: @document %>
</div>
