<% content_for :title, "New document" %>

<div class="md:w-2/3 w-full">
    <div class="breadcrumbs text-sm">
        <ul>
            <li><%= link_to "Documents", documents_path %></li>
            <li>Creating new Document</li>
        </ul>
    </div>
    <div class="divider"></div>

  <%= render "form", document: @document %>
</div>
