
<% content_for :title, "document" %>

<div class="md:w-2/3 w-full">
    <div class="breadcrumbs text-sm">
        <ul>
            <li><%= link_to "Documents", documents_path %></li>
            <li>Document#<%= @document.id %></li>
        </ul>
    </div>
    <div class="divider"></div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @document, show_actions: true, show_details: true, show_content: true, show_description_stat: true %>
</div>
